{% load apisgeneric %}
{% load filter_utils %}
{% load parse_comment %}
{% load linkify_list %}

<table class="table table-hover">
    {% modeldict object as d %}
    {% for key, value in d.items %}
    <tr>

        <th>
            {{ key.verbose_name | title}}
        </th>

        <td>
            {% if key|endswith:'.comments' %}
            {{ value | parse_comment | safe}}
            {% elif key|endswith:'.external_links' %}
            {{ value | render_links | safe}}
            {% else %}
            {{ value }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
