{% load apisgeneric %}
{% load filter_utils %}
{% load parse_comment %}
{% load citation %}

<table class="table table-hover">
    {% modeldict object as d %}

    {% for key, value in d.items %}
    {% if not key|endswith:'.rootobject_ptr' %}
    {% if value %}

    <tr>
        <th>
            {{ key.verbose_name | title}}
        </th>

        <td>
            {% if key|endswith:'.comments' %}
            {{ value | parse_comment | safe}}
            {% elif key|endswith:'.external_links' %}
            {{ value | render_links | safe}}
            {% elif key|endswith:'.longitude' %}
            {{ value | render_coordinate}}
            {% elif key|endswith:'.latitude' %}
            {{ value | render_coordinate}}
            {% elif key|endswith:'.zotero_ref' %}
            {{ value | render_zotero_links | safe}}
            {% else %}
            {{ value }}
            {% endif %}
        </td>
    </tr>
    {% if key|endswith:'.pp_kdsb' %}
    <tr>
        <th> Citation</th>
        <td>{{object|cite}}</td>
    </tr>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
</table>
