{% load apisgeneric %}
{% load filter_utils %}
{% load parse_comment %}
{% load citation %}

<table class="table table-hover">
    <tr>
        <th>
            Name
        </th>
        <td>
            {{ object.name }}
        </td>
    </tr>
    <tr>
        <th>
            Alternative names
        </th>
        <td>
            {{ object.alternative_names | render_list_field }}
        </td>
    </tr>
    <tr>
        <th>
            Life date start
        </th>
        <td>
            {% if object.start_date_written %}
                {{ object.start_date_written }}
            {% else %}
                Unknown
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>
            Life date end
        </th>
        <td>
            {% if object.end_date_written %}
                {{ object.end_date_written }}
            {% else %}
                Unknown
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>
            Gender
        </th>
        <td>
            {{object.gender}}
        </td>
    </tr>

    <tr>
        <th>
            Nationality
        </th>
        <td>
            {{object.nationality}}
        </td>
    </tr>
    <tr>
        <th>
            Comments
        </th>
        <td>
            {{ object.comments | parse_comment }}
        </td>
    </tr>
    <tr>
        <th>
            External links
        </th>
        <td>
            {{ object.external_links | render_links | safe }}
        </td>
    </tr>
</table>
