{% load apisgeneric %}
{% load filter_utils %}
{% load parse_comment %}

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <td>{{ object.name }}</td>
    </tr>
    {% if object.alternative_names %}
        <tr>
            <th>Alternative names</th>
            <td>{{ object.alternative_names | render_list_field }}</td>
        </tr>
    {% endif %}
    {% if object.original_language %}
        <tr>
            <th>Original language</th>
            <td>{{ object.original_language }}</td>
        </tr>
    {% endif %}
    {% if object.subject %}
        <tr>
            <th>Subject</th>
            <td>{{ object.subject }}</td>
        </tr>
    {% endif %}

    {% if object.start_date_written %}
        <tr>
            <th>Date of composition</th>
            <td>
                {% if object.start_date_written %}
                    {{ object.start_date_written }}
                {% else %}
                    Unknown
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if object.sde_dge_ref %}
        <tr>
            <th>Derge reference</th>
            <td>{{ object.sde_dge_ref }}</td>
        </tr>
    {% endif %}
    {% if object.isExtant %}
        <tr>
            <th>Is extant</th>
            <td>{{ object.isExtant }}</td>
        </tr>
    {% endif %}

    {% if object.comments %}
        <tr>
            <th>
                Comments
            </th>
            <td>
                {{ object.comments | parse_comment }}
            </td>
        </tr>
    {% endif %}
    {% if object.external_links %}
        <tr>
            <th>
                External links
            </th>
            <td>
                {{ object.external_links | render_links | safe }}
            </td>
        </tr>
    {% endif %}

    </tr>
</table>
