{% load generic %}
{% load filter_utils %}
{% load parse_comment %}

<table class="table table-hover">
    <tr>
        <th>
            Name
        </th>
        <td>
            {{ object.name }}
        </td>
    </tr>
    {% if object.alternative_names %}
        <tr>
        <th>
            Alternative names
        </th>
        <td>
            {{ object.alternative_names | render_list_field }}
        </td>
        </tr>
    {% endif %}

    {% if object.start %}
        <tr>
            <th>
                Life date start
            </th>
            <td>
                {% if object.start %}
                    {{ object.start }}
                {% else %}
                    Unknown
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if object.end %}
        <tr>
            <th>
                Life date end
            </th>
            <td>
                {% if object.end %}
                    {{ object.end }}
                {% else %}
                    Unknown
                {% endif %}
            </td>
        </tr>
    {% endif %}

    <tr>
        <th>
            Gender
        </th>
        <td>
            {{object.gender}}
        </td>
    </tr>

    <tr>
        <th>
            Origin
        </th>
        <td>
            {{object.nationality}}
        </td>
    </tr>
    {% if object.comments %}
        <tr>
            <th>Comments</th>
            <td>{{ object.comments | parse_comment }}</td>
        </tr>
    {% endif %}
    {% if object.external_links %}
        <tr>
            <th>External links</th>
            <td>{{ object.external_links | render_links | safe }}</td>
        </tr>
    {% endif %}
</table>
