
body {
      text-rendering: geometricPrecision;
}

a:not([class]) {
    text-decoration: none;
}

a:not([class]):hover {
    text-decoration: dotted underline;
}

.linkish {
    color: #007BFF;
    cursor: pointer;
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}

.linkish:hover {
    color: #0056b3;
    text-decoration: dotted underline;
}


#content textarea.form-control{
    height: 5em;
    resize: vertical;
}


pre#rawTEI{
  width: 90%;
  white-space: break-spaces;
  line-break: anywhere;
  margin-left: 2em;
}
#modal .modal-dialog {
    max-width: 800px;
}
.modal-content{
     max-height: 90vh;
    overflow-y: auto;
}

.modal-header{
  align-items: normal !important;
}

.relation-confidence{
  vertical-align: middle;
}


/* extra material icons */
@font-face {
  font-family: 'More Material Symbols';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/more-material-symbols.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'More Material Symbols' !important;
    font-weight: normal;
    font-style: normal;
    /* preferred icon size */
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

