
body {
      text-rendering: geometricPrecision;
}

.linkish {
    color: #007BFF;
    cursor: pointer;
    text-decoration: none;
}

.linkish:hover {
    color: #0056b3;
    text-decoration: underline;
}


#content textarea.form-control{
    height: 5em;
    resize: vertical;
}


pre#rawTEI{
  width: 90%;
  white-space: break-spaces;
  line-break: anywhere;
  margin-left: 2em;
}

.modal-content{
     max-height: 90vh;
    overflow-y: auto;
}
