
body {
      text-rendering: geometricPrecision;
}

a:not([class]) {
    text-decoration: none;
}

a:not([class]):hover {
    text-decoration: dotted underline;
}

.linkish {
    color: #007BFF;
    cursor: pointer;
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}

.linkish:hover {
    color: #0056b3;
    text-decoration: dotted underline;
}


#content textarea.form-control{
    height: 5em;
    resize: vertical;
}


pre#rawTEI{
  width: 90%;
  white-space: break-spaces;
  line-break: anywhere;
  margin-left: 2em;
}
#modal .modal-dialog {
    max-width: 800px;
}
.modal-content{
     max-height: 90vh;
    overflow-y: auto;
}

.modal-header{
  align-items: normal !important;
}

.relation-confidence{
  vertical-align: middle;
}


/* extra material icons */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/icon/font?kit=kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejdc4kzUJPvbBw9tiQ8cGhE_4rdSZGCM-PGZ6qg-4xjNUlZ8yWR9ebLW1-Sg8&skey=b8dc2088854b122f&v=v292) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
