{% extends "base.html" %}

{% load relations %}
{% load static %}
{% load tibschol_entity_ctypes %}
{% load i18n %}
{% block meta %}
{{ block.super }}
<meta name="referrer" content="strict-origin-when-cross-origin">
{% endblock meta %}

{% block styles %}
<link href="{% static 'styles/tibschol.css' %}" rel="stylesheet" />
{{ block.super }}
{% endblock styles %}

{% block title %}
{% if object %}
{{ object }}
{% else %}
TibSchol: The Dawn of Tibetan Buddhist Scholasticism (11th–13th c.)
{% endif %}
{% endblock title %}
{% block userlogin-menu %}
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                  <li class="nav-item dropdown ml-auto">
                    <a href=""
                       class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">{{ user.get_username }}</a>
                    <div class="dropdown-menu dropdown-menu-end">

                      {% block user-menu-items %}
                        <div class="dropdown-item">
                          <form action="{% url 'apis_core:logout' %}?next=/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn px-0">
                              <span class="material-symbols-outlined material-symbols-align">logout</span>
                              {% translate "log out" %}
                            </button>
                          </form>
                        </div>
                        <div class="dropdown-item d-flex align-items-center">
                            <form method="post" action="{% url 'update_script_preference' %}" style="display: flex; align-items: center;">
                                {% csrf_token %}
                                <label class="me-2 mb-0" for="script-switch">Tibetan</label>
                                <div class="form-check form-switch m-0">
                                    <input class="form-check-input" type="checkbox" id="script-switch" name="prefers_tibetan_script" value="true" {% if user.script_preference.prefers_tibetan_script %}checked{% endif %} onchange="this.form.submit()">
                                </div>
                            </form>
                        </div>
                        <a class="dropdown-item" href="{% url 'apis_core:password-change' %}">{% translate "change password" %}</a>
                      {% endblock user-menu-items %}

                    </div>
                  </li>
                {% else %}
                  <li class="nav-item dropdown ml-auto">
                    <a class="nav-link p-0"
                       href="{% url 'apis_core:login' %}?next={{ request.path|urlencode }}">
                      <span class="material-symbols-outlined">login</span>
                    </a>
                  </li>
                {% endif %}
              </ul>

{% endblock userlogin-menu %}

{% block entities-menu %}
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">{% translate "Entities" %}
        <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% tibschol_entity_types as entities %}
        {% for verbose_name_plural, list_url in entities %}
        <a class="dropdown-item" href="{{ list_url }}">{{ verbose_name_plural|capfirst }}</a>
        {% endfor %}
    </div>
</li>
{% endblock entities-menu %}

{% block relations-menu %}
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">{% translate "Relations" %}
        <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url  "apis_core:generic:list" "relations.relation" %}">
            {% translate "All relations" %}</a>
        <div class="dropdown-divider"></div>
        <form class="mx-2">
            <input type="text" id="relationFilter" class="form-control mb-2 form-control-sm"
                   placeholder="{% translate "Filter relations..." %}">
        </form>
        <div id="relationList">
            {% get_relation_content_types as content_types %}
            {% for content_type in content_types %}
            <a class="dropdown-item relation-item" href="{{ content_type.model_class.get_listview_url }}" target="_blank">
                {{ content_type.model_class.relation_name }}
            </a>
            {% endfor %}
        </div>
    </div>
</li>
{% endblock relations-menu %}

{% block main-menu %}
    <li class="nav-item">
        <a class="navbar-brand m-0 d-flex align-items-center" href="/">
            <img src="{% static 'img/TibSchol_Logo3.svg' %}" alt="TibSchol Logo" height="30" >
        </a>
    </li>
    <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        {% translate "About" %} <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/">{% translate "About" %}</a>
        <a class="dropdown-item"
            href="{% url 'datamodel' %}">{% translate "Data model" %}</a>
        </div>
</li>
{{ block.super }}
{% include "excerpts/excerpts.html" %}
{% endblock main-menu %}


{% block content %}
<div class="container my-5  rounded-3 mb-5 splash-intro">
  <div class="row justify-content-center g-5">
    <div class="col-12 col-lg-6">
      <div class="card border-0 bg-transparent">
        <div class="card-body">
        <h2 class="card-title mb-3 text-primary fw-bold">Welcome</h2>
        <p lang="en" class="">
        Welcome to the database of “The Dawn of Tibetan Buddhist Scholasticism (11th–13th c.)” (TibSchol) project, funded by a Consolidator Grant of the European Research Council (2021–2026) and hosted at the <a href="https://www.oeaw.ac.at/ikga" target="_blank" rel="noopener noreferrer">Institute for the Cultural and Intellectual History of Asia</a> at the <a href="https://www.oeaw.ac.at/" target="_blank" rel="noopener noreferrer">Austrian Academy of Sciences</a>.
        </p>
        <p lang="en">
        Who were the individuals involved in the formative phase of the Tibetan scholastic tradition? What were the connections between them and with enclaves of learning? What works did they compose, teach, and study? What was the range of diffusion and the mode of circulation of these works?
        </p>
        <p lang="en">
        TibSchol aims at answering such questions—and more—in order to contribute to a more comprehensive and dynamic picture of the Tibetan scholastic landscape.
        </p>
        <p lang="en">
        <span class="fw-semibold">Start exploring!</span>
        </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card border-0 bg-transparent">
        <div class="card-body">
          <h2 class="card-title mb-3 text-primary fw-bold">བཀའ་དྲིན་ཆེ།</h2>
          <p lang="bo" class="lead" style="font-family: 'Noto Sans Tibetan', 'Jomolhari', 'Microsoft Himalaya', sans-serif; font-size: 1.1em;">
            བོད་ནང་པའི་མཚད་ཉིད་རིག་པའི་ལུགས་ཀྱི་སྐྱ་རེངས་དང་པོ་༼དུས་རབས་བཅུ་གཅིག་ནས་བཅུ་གསུམ་བར་༽ཞེས་པའི་གྲངས་མཛོད་ལ་ཕེབས་པར་དགའ་བསུ་ཞུ། འདི་ནི་ཡོ་རོབ་ཞིབ་འཇུག་ལས་དོན་ལྷན་ཁང་གིས་༢༠༢༡ནས་༢༠༢༦ལོའི་བར་དུ་དཔལ་འབྱོར་གྱི་མཐུན་རྐྱེན་སྦྱར་པ་དང་། ཨ་ཝ་སྟྲི་ཡའི་ཚན་རིག་ཞིབ་འཇུག་གླིང་གི་ཨེ་ཤ་ཡའི་རིག་གནས་དང་རིག་གཞུང་ལོ་རྒྱུས་སྡེ་ཚན་དུ་བཞག་པའི་ལས་གཞི་ཞིག་ཡིན།
            </p>
          <p lang="bo" class="lead" style="font-family: 'Noto Sans Tibetan', 'Jomolhari', 'Microsoft Himalaya', sans-serif; font-size: 1.1em;">
            ལས་གཞི་འདིའི་ནང་། བོད་ནང་པའི་མཚད་ཉིད་རིག་པའི་ལུགས་རྒྱ་ཆེན་པོར་དར་དུས་ཀྱི་མཁས་པ་སུ་ཡིན་ངོས་འཛིན་དང་། དེ་དག་གི་ཆོས་བརྒྱུད། ཕན་ཚུན་གྱི་འབྲེལ་ལམ། གསུང་རྩོམ་ཅི་ཞིག་མཛད་པ། ཆོས་ཁྲིད། སློབ་གཉེར་བྱེད་ཚུལ། གང་དུ་དར་ཡོད་མེད། ཇི་ལྟར་བྱུང་ཚུལ་བཅས་སྐོར་ནས་དྲི་གཞི་བཏོན་ཡོད་པ་དང་། དམིགས་ཡུལ་གཙོ་བོ་ནི། མཚན་ཉིད་རིག་པའི་སྐོར་གྱི་མཁས་པ་དང་། དེ་དག་གི་འབྲེལ་ལམ། གཞུང་ལུགས་བསྟན་བ྅ོས་སོགས་ལ་རྟོག་དཔྱོད་ཞིབ་འཇུག་བྱས་ནས། རྒྱ་ཆེན་པོ་དང་གཏིང་ཟབ་པའི་སྒོ་ནས་བོད་ཀྱི་མཚན་ཉིད་རིག་པའི་ཁོར་ཡུག་ཅི་འདྲ་ཞིག་ཡིན་པ་ལ་ལན་འདེབས་པ་དང་ཤེས་རྟོགས་བྱ་རྒྱུའི་ཆེད་ཡིན།། 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
