{% extends "base.html" %}
{% load core %}
{% load generic %}
{% load i18n %}
{% load datamodel %}
{% load parse_comment %}

{% block content %}
<div class="container text-center  mb-auto" id="top">
    <h2 class="">Data Model</h2>
    <table border="1" class=" align-middle table table-bordered table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th>
                    <div>
                        Object <span class="material-symbols-outlined align-middle">east</span>
                    </div>
                    <div>
                        Subject <span class="material-symbols-outlined align-middle">south</span>
                    </div>
                </th>
                {% for col in datamodel.entities %}
                    <th class="text-center align-middle"> <a href="#{{col.name |lower}}">{{ col.name | title }}</a></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in datamodel.entities %}
            <tr>
                <th class="text-center align-middle"><a href="#{{row.name |lower}}">{{ row.name |title }}</a></th>
                {% for col in datamodel.entities %}
                <td class="align-middle">
                    {% for rel in datamodel.matrix|get_item:row.name|get_item:col.name %}

                        <a href="#{{rel.class |lower}}">{{rel.display | safe}}</a><br>

                    {% endfor %}
                </td>
                {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <div class="mb-auto">
        {% for item in datamodel.glossary %}
            <div id="{{item.model_class | lower}}" class="text-start glossary-item border rounded p-2 mb-2 bg-light text-muted small">
                <div class="fw-semibold text-dark mb-1">{{ item.name }}
                    {% if item.name_reverse %}
                        <span class='material-symbols-outlined align-middle text-secondary'>arrows_outward</span>
                        {{ item.name_reverse }}
                    {% endif %}

                    <span class="text-uppercase text-secondary  mb-1 small">
    {{ item.type }}
</span>
    </div>
    <div class="mb-2">{{ item.Description }}</div>
    <div>
    </div>

    </div>

    {% endfor %}
    {% for item in datamodel.glossary_terms %}
    {% if item.description %}

    <div id="{{item.model_class | lower}}"
        class="text-start glossary-item border rounded p-2 mb-2 bg-light text-muted small">
                <div  class="fw-semibold text-dark mb-1">{{ item.name }}
                </div>
                <div class="mb-2">{{ item.description | parse_comment }}</div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
