{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4">Imprint</h1>
          <p>TibSchol is committed to making its research results openly accessible.</p>

                <p>The dataset contained in the database is placed under the Creative Commons license CC0, at the exception of Comments (in
                pages related to Person, Work, Instance, Place) and Item description (in Instance pages), which are placed under the
                    <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">Creative Common license CC BY 4.0</a>.</p>

                <p>Dates for Persons are, unless they are approximated (before/after) or it is indicated otherwise in the Comments, those
                    provided by <a target="_blank" href="https://library.bdrc.io/">the Buddhist Digital Resource Center</a> under CC0 license at the URL indicated under “External links.”</p>

                <p>For Indic Works and their author, we used the title and name provided by the <a target="_blank" href="http://www.rkts.org/">rKTs project</a>. More
                    details can be obtained on these works by following the external link to rKTs.</p>

                <p>Coordinates for Places are, unless indicated otherwise in the Comments, those provided by the Buddhist Digital Resource
                    Center under CC0 license at the URL indicated under “External links.”</p>

                <p>Please note and respect the copyright regulations specific to other resources referred to in the database, such as
                    publications and online resources.</p>

                <p>TibSchol database does not contain metadata on natural persons.</p>

                <p>Text excerpts (<span class="material-symbols-outlined">text_snippet</span>) are from works in the Public Domain.
                    Related TEI files that contain these excerpts, hosted at <a
                       target="_blank" href="https://github.com/ERC-TibSchol/TibSchol-TEI-Library">TibSchol-TEI-Library</a>,
                    are distributed under a <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Common CC BY-SA 4.0
                    License</a>.    </p>
                        <p>
        For enquiries and comments, please write to: <a href="mailto:ERC.tibschol@oeaw.ac.at">ERC.tibschol@oeaw.ac.at</a>.
    </p>

                <hr class="my-4">
                <p class="small text-muted">
                    The project TibSchol has received funding from the European Research Council (ERC)
                    under the
                    European Union’s <a target="_blank"
                        href="https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-2020_en">Horizon
                    2020</a> research and innovation programme (grant agreement No 101001002). DOI:
                    <a href="https://doi.org/10.3030/101001002" target="_blank">10.3030/101001002</a>
                </p>
    <hr class="my-4">
    </div>
{% endblock %}