<link rel="stylesheet" href="/static/styles/tei.css">
<script src="/static/scripts/CETEI.js"></script>
<script src="/static/scripts/render_tei.js"></script>

<div class="modal" id="popupModal" style="display:none;" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="modal-title d-flex flex-row">
                    <h5 id="excerpt-id" ></h5> <span id="excerpt-status"></span>
                </div>
                <div id="instances" class=""></div>
                <div id="location" class="text-muted"></div>
            </div>
            <div class="modal-body">
                <span id="popupContent"></span>
                <details>
                    <summary>
                        View raw excerpt data in xml
                    </summary>
                    <!-- element to show code style text -->
                    <pre id="rawTEI">
                    </pre>
                </details>
                    </div>
            <div class="modal-footer">

                <button onclick="closePopup()">Close</button>
            </div>
        </div>
    </div>
</div>
