<script src="/static/scripts/show_popup.js"></script>

<div class="modal" id="popupModal" style="display:none;" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excerpt</h5>
            </div>
            <div class="modal-body">

                <span id="popupContent"></span>
            </div>
            <div class="modal-footer">

                <button onclick="closePopup()">Close</button>
            </div>
        </div>
    </div>
</div>
