{% load generic %}
{% load filter_utils %}
{% load parse_comment %}

<table class="table table-hover">
    {% modeldict object as d %}
    <tr>
        <th>
            Name
        </th>
        <td>
            {% if request.user.is_authenticated and request.user.script_preference.prefers_tibetan_script and object.tibetan_transliteration %}
                {{ object.tibetan_transliteration }}
            {% else %}
                {{ object.label }}
            {% endif %}
        </td>
    </tr>
    {% if object.alternative_names %}
        <tr>
            <th>Alternative names</th>
            <td>
            <ul class="list-unstyled mb-0">
                {% for item in object.alternative_names %}
                {% if item.label or item.language %}
                    <li>
                    {{ item.label }}{% if item.language %}{% endif %}
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
            </td>
        </tr>
    {% endif %}
    {% if object.start %}
        <tr>
            <th>
                Date
            </th>
            <td>
                {{ object.start }}
            </td>
        </tr>
    {% endif %}
    {% if object.latitude or  object.longitude %}

        <tr>
        <th>
            Coordinates
        </th>
        <td>
            {% if object.latitude %}
                {{ object.latitude | render_coordinate}},
            {% endif %}
            {% if object.longitude %}
                {{object.longitude | render_coordinate}}
            {% endif %}
        </td>
        </tr>
    {% endif %}

    {% if object.comments %}
        <tr>
            <th>
                Comments
            </th>
            <td>
                {{ object.comments | parse_comment }}
            </td>
        </tr>
    {% endif %}
    {% if object.external_links %}
        <tr>
            <th>
                External links
            </th>
            <td>
                {{ object.external_links | render_links | safe }}
            </td>
        </tr>
    {% endif %}

</table>
